@import url("https://use.typekit.net/qji4itj.css");
@import "~bootstrap/dist/css/bootstrap.css";

$font-roboto: roboto, sans-serif;
$font-montserrat: montserrat, sans-serif;

$color-light-grey: #F8F8F8;
$color-dark-grey: #919191;
$color-grey-background: #F0EFEF;
$color-grey-p: #707070;
$color-grey-background-settings: #FAF9F9;

$color-blue: #5974D1;
$color-black: #333333;

::ng-deep * {
  margin: 0;
  padding: 0;
}
