<div class="project-header">
  <a routerLink="/" >
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="1" viewBox="0 0 38 1">
      <line id="Line_7" data-name="Line 7" x1="38" transform="translate(0 0.5)" fill="none" stroke="#333" stroke-width="1"/>
    </svg>
    {{ 'project.back' | translate }}
  </a>
  <div class="project-header-container" >
    <div>
      <h1>
        {{title}}
      </h1>
      <p>
        {{industry}}
      </p>
    </div>

    <img alt='project picture' src={{picture}}>
  </div>
</div>

